/* Author: William Twomey */

html {
    scroll-behavior: smooth;
}

/* Setting the body style */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* Setting the style for the nav bar */
.navbar {
    z-index: 9999;
    padding-top: 2vw;
    padding-bottom: 3.2vw;
    overflow: hidden;
    display: inline-block;
    background-color: #9564f5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5em;
}




.navbar a {
    margin: 1em;
    color: #9564f5;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #f5f2b8;
    border-radius: 15px 50px;
    background-color: #FFD700;
    box-shadow: 2px 2px 2px #fcd1b8;
}

.navbar a:hover {
    color: #000;
    background-color: #5ce8f2;
    font-weight: bolder;
}


/* Setting the style for the nav bar End*/




/* Main Start */
#Home {
    height: 45em;
    width: auto;
    display: block;
}

.background {
    display: block;
    height:auto;
}

q {
    font-weight: 600;
}

.container-main {
    width: 100%;
    height: auto;
    
}

#back-video {
    margin-top: 3.1em;
    position: fixed;
    z-index: -1;
    
}

.content {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    z-index: -1;
    margin-top: 3.5em;
    padding-top: 3em;
    padding-bottom: 8.8em;
    text-align: center;
    text-shadow: 2px 2px #8B4513;
    position: absolute;
    background: rgba(149, 100, 245, 0.5);
    color: #f1f1f1;
    
}



.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.content img:hover {
transition: width 2s, height 2s, transform 2s;
transform: rotate(360deg);
}

.content h1 {
    text-align: center;
}

/* Main End */

/*Slideshow START*/
*{box-sizing: border-box;}

.Slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background-color: #301934;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.mySlides {
    display: none;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    background-color: #c0a3f7;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FFD700;
    font-weight: bold;
    font-size: 3vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: #FF6600;
}

.slide-text {
    color: #FFD700;
    font-size: 2vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #FFD700;
    font-size: 1.5vw;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFD700;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #FF6600;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.HTML5 {
    color: #FF6600;
}
.CSS3 {
    color: #264de4;
}
.Javascript{
    color: #f0db4f;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*Slideshow END*/


/* Container */
.container {
    width: 100%;
    display: block;
    overflow: hidden;
}

.Row:after {
	content: "";
	display: table; 
	clear: both; 
}
/* Container */




/* Column 1 End */

.column_1 {
    background-color: #9564f5;
    float: left;
    width: 50%;
    height: 30em;
}

.column_1 img {
    width: 80%;
    height: 85%;
    display: block;
    margin: auto;
    padding-top: 5%;
    border-radius: 5em;
    overflow: hidden;
}

.column_1 img:hover {
    width: 100%;
    height: 100%;
    padding-top: 0em;
    transition-delay: 0.5s;
    transition: width 3s, height 3s;
}

/* Column 1 End */




/* Column 2 Start */
.column_2 {
    background-color: #c0a3f7;
    float: left;
    width: 50%;
    text-align: center;
    height: 30em;
}

.column_2 img {
    padding-left: 5em;
}

.column_2 h2 {
    margin-top: 2em;
}

.column_2 h2:hover {
  transition: width 2s, height 2s, transform 2s;
  transform: rotate(360deg);
}
.column_2 p {
    margin-top: 5em;
}

.column_2 p:hover {
    font-weight: 800;
    transition: ease-in 1.5s;
}

/* Column 2 End */





/* Column Left Start */

.column_left {
    width: 50%;
    float: left;
    height: 30em;
    background-color: #c0a3f7;
    text-align: center;
}

.column_left h2 {
    margin-top: 2em;
}

.column_left p {
    line-height: 3em;
    margin-top: 10em;
}

.column_left p:hover {
    font-family: fantasy;
}

.column_left a {
    margin: 1em;
    color: #9564f5;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 15px 50px;
    background-color: #FFD700;
    box-shadow: 2px 2px 2px #000;
}

.column_left a:hover {
    color: #000;
    background-color: #ff8d03;
    font-weight: bolder;
}

/* Column Left End */




/* Column Right Start */
.column_right {
    background-color: #9564f5;
    float: left;
    width: 50%;
    text-align: center;
    height: 30em;
}


.column_right img {
    margin-top: 5em;
    width: 20em;
}

.column_right img:hover {
    transition: width 2s, height 4s;
    margin-top: 2em;
    width: 25em;
    background-image: url("./image/github-logo.png")
    
}

/* Column Right End */




/* Column A Start */
.column_a {
    width: 50%;
    float: left;
    height: 30em;
    background-color: #9564f5;
    text-align: center;
}
/* Column A End */

/* Form style Start */

.form-container {
    background-color: #c0a3f7;
    width: 100%;
    padding: .93vw;
    margin: 0.6vw 0 0.6vw 0;
    font-size: 1vw;
    opacity: 0.95;
}


/*Has form hidden by default*/
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 10;
}

.open-button {
    display: block;
    position: fixed;
    right: 15px;
    font-size: 2em;
    width: 15vw;
    bottom: 0.5em;
    margin: auto;
    margin-top: 5em;
    font-weight: 700;
    color: #9564f5;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #FFD700;
    box-shadow: 2px 2px 2px #000;
    opacity: 0.5;
}

button.open-button:hover {
    opacity: 1;
    width: 20vw;
}

button.btn-cancel {
    margin-bottom: 0px;
    display: inline-block;
    width: 45%;
    bottom: 3em;
    margin-top: 2em;
    margin-left: 2vw;
    font-size: 1.5vw;
    color: #FFD700;
    text-decoration: none;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #800000;
    box-shadow: 5px 5px 5px #000;
    opacity: 0.8;
}

.btn-cancel:hover {
    background-color: #301934;
}

.btn {
    margin-bottom: 0px;
    display: inline-block;
    width: 45%;
    bottom: 3em;
    margin-top: 2em;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    color: #9564f5;
    text-decoration: none;
    padding: 1em;
    border: 1px solid #301934;
    border-radius: 15px;
    background-color: #FFD700;
    box-shadow: 5px 5px 5px #000;
    opacity: 0.8;
}
.btn:hover {
    background-color: #000;
    color: #FFD700;
}


label {
    text-align: center;
    font-size: 1.5vw;
    display: inline-block;
    color: #000;
    font-weight: 600;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
   
}

input{
    border: 2px solid #9564f5;
    border-radius: 10px;
    width: 45em;
    padding: 0.5em;
  
}

.form-container h3 {
    text-align: center;
    font-size: 2.25vw;
    padding-bottom: 1vw;
}

/* Form End*/



/* Architect Section Start */

.column_a h3 {
    padding-top: 3em;
}


.column_a a img{
    margin-top: 1em;
    width: 15em;
    border: 5px solid black;
    background-color: #c0a3f7;
    border-radius: 15px;
}

.column_a a img:hover {
    transition: width 2s, height 4s;
    width: 20em;
    background-color: #5ce8f2;
}

/* Architect Section End */



/* Footer Section Start */
footer {
    padding: 0.5em;
    background-color: #c0a3f7;
    
}

.bottom {
    line-height: 10em;
    text-align: center;
}
/* Footer Section End */



/* Media Section Start */

@media only screen and (max-width: 600px) {
    .navbar {
        padding-top: 1.5em;
        padding-bottom: 3em;
    }
    .navbar a {
        margin: 1vw;
        padding-bottom: 3vw;
        border: 1px solid black;
        margin-left: 1em
    }
    #myForm {
        width: 120vw;
        background-color: #9564f5;
        margin-right: 0;
    }

    label {
        font-size: 5vw;
        text-align: left;
    }

    input {
        margin-left: 15vw;

    }
    .btn {
        font-size: large;
        display: block;
        margin-left: 40vw;
        margin-bottom: 2vw;
    }
    button.btn-cancel {
        font-size: large;
        display: block;
        text-align: center;
        margin-left: 40vw;
        margin-bottom: 3em;
    }

    .form-container h3 {
        font-size: 10vw;
        padding-top: 20vw;
        padding-left: 25vw;
        margin-top: 15vw;
    }


    .Slideshow-container{
        display: none;
    }

    button.open-button {
        width: 10em;
        margin-right: 0.75em;
    }

    button.open-button:hover {
        width: 10em;
        margin-right: 0.75em;
        opacity: 1;
    }
    
    
    [class*="column_"] {
        width: 100%;
        border-radius: 0px;
      }
    
    .content {
        z-index: -1;
        font-size: small;
        height: 100%;
    }
    
    .row{
        font-size: 1em;
    }
    .column_1 {
        display: none;
    }
    
    .column_left {
        background-color: #9564f5;
    }

    .column_right {
        background-color: #c0a3f7;
    }
    
    form {
        text-align: center;
    }
    
    input{
        width: 20em;
    }


    footer {
        background-color: #9564f5;
    }
}

/* Media Section End */




